<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <h3>My Favorite Movies List</h3>
    <li><%= message5 %></li>
    <li><%= message6 %></li>
    <li><%= message7 %></li>
    <li><%= message8 %></li>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>